---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let gardenContent;
try {
  gardenContent = await fetchApi("garden");
} catch (e) {
  return Astro.redirect("/404");
}

console.log(gardenContent);
---

<Layout>
  <p>{gardenContent.title}</p>
  <p>{gardenContent.description}</p>
</Layout>
