---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let gardenContent;
try {
  gardenContent = await fetchApi("garden");
} catch (e) {
  console.log(e);
}

console.log(gardenContent);
---

<Layout title="hagen">
  <p>{gardenContent.title}</p>
  <p>{gardenContent.description}</p>
</Layout>
