---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let homeContent;
try {
  homeContent = await fetchApi("home");
} catch (e) {
  console.log(e);
}

console.log(homeContent);
---

<Layout>
  <p>{homeContent.title}</p>
  <p>{homeContent.description}</p>
</Layout>
