---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let kitchenContent;
try {
  kitchenContent = await fetchApi("kitchen");
} catch (e) {
  console.log(e);
}

console.log(kitchenContent);
---

<Layout title="kjokennet">
  <p>{kitchenContent.title}</p>
  <p>{kitchenContent.description}</p>
</Layout>
