---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let menuContent;
try {
  menuContent = await fetchApi("menu");
} catch (e) {
  console.log(e);
}
---

<Layout title="meny">
  
  <p>{menuContent.title}</p>
  <p>{menuContent.description}</p>
  <!-- jeśli ma być ładny link do pdfa to najlepiej wrzucić go do public w tym projekcie -->
  <a href={`${import.meta.env.STRAPI_URL}${menuContent.file.data.attributes.url}`} target="_blank" rel="noopener noreferrer">MENU PDF FILE</a>

</Layout>
