---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let menuContent;
try {
  menuContent = await fetchApi("menu");
} catch (e) {
  console.log(e);
}

console.log(menuContent);
---

<Layout title="meny">
  <p>{menuContent.title}</p>
  <p>{menuContent.description}</p>
</Layout>
