---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let menuContent;
try {
  menuContent = await fetchApi("menu");
} catch (e) {
  console.log(e);
}
---

<Layout meny={true} title="hagen">
  <div class="content__container">
    <img class="garden__img" src="/Menu.svg" />
    <div class="description__container">
      <h1 class="header__main">{menuContent.title}</h1>
      <p class="description__text">{menuContent.description}</p>
      <div class="pdf__wrapper">
        <a
          class="pdf__link_el"
          href={`${import.meta.env.STRAPI_URL}${
            menuContent.file.data.attributes.url
          }`}
          target="_blank"
          rel="noopener noreferrer">Meny (.pdf-fil)</a
        >
        <img class="hen__img" src="/Hen.svg" />
      </div>
    </div>
  </div>
  <!-- jeśli ma być ładny link do pdfa to najlepiej wrzucić go do public w tym projekcie -->
</Layout>

<style>
  .content__container {
    margin: 4rem 1rem;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }
  div.description__container {
    width: 50%;
    margin-left: 2rem;
  }

  h1.header__main {
    margin: 0;
    font-family: "Lora";
    font-size: 3rem;
    font-weight: 600;
  }

  p.description__text {
    margin: 2rem 0;
    font-family: "Lora";
    font-size: 1.25rem;
    font-weight: 400;
  }
  div.pdf__wrapper {
    display: flex;
    align-items: center;
  }

  a.pdf__link_el {
    text-decoration: none;
    font-family: "Lora";
    color: black;
    font-weight: 500;
    font-size: 1.5rem;
  }

  img.hen__img {
    margin-left: 2rem;
  }
  a.pdf__link_el:hover {
    text-decoration: underline;
    text-decoration-color: var(--brown);
  }


</style>
