---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let menuContent;
try {
  menuContent = await fetchApi("menu");
} catch (e) {
  return Astro.redirect("/404");
}

console.log(menuContent);
---

<Layout>
  <p>{menuContent.title}</p>
  <p>{menuContent.description}</p>
</Layout>
