---
import Layout from "../layouts/Layout.astro";
import "../styles/fonts.css";
import "../styles/variables.css";
---

<Layout>
  <div class="content__container">
    <img class="museum__img" src="../../public/museumBuilding.svg" />
    <div class="description__container">
      <h1 class="header__main">Forvaltergården</h1>
      <p class="headline__undertext">Tvedestrand museum</p>
      <p class="description__text">
        Forvaltergården i Tvedestrand var bindeleddet mellom Næs Jernverk og
        "den store verden". Det var her proviant - eller magasinforvalteren
        holdt til. Han hadde ansvaret for all inn- og utskipning som jernverket
        sto for. Her hadde han kontor og her bodde han og familien. Det var her
        skipperen på danskeskuta henvendte seg, når han kom med korn til
        arbeidere og driftsbønder. Det var hit malmskipperen fant veien, når han
        skulle gi beskjed om at nå kunne skuta hans losses for malm. Hit kom
        folk som hadde noe til gode hos verket for å hente jern eller matvarer.
        Det var her man hadde oppsynet med alle produktene som skulle fraktes ut
        på markedet - smijern i stenger, ovner og gryter i alle slags størrelser
        og mye, mye annet.
      </p>
      <h2 class="header__under">Forvalteren i Tvedestrand</h2>
      <p class="description__text">
        Stillingen som forvalter i Tvedestrand var en av de bedre betalte
        funksjonærjobbene ved verket. Den kunne kombineres med skipsrederi og
        handel og brukes som springbrett for den som ville opp og fram. Den
        første representanten til Smith-familien, byens fremste skipsredere i
        andre halvdel av 1700-tallet, begynte sin karriere i Tvedestrand som
        forvalter for verket. Og da Herman Smith døde i 1753, giftet enka seg
        med han som overtok forvalterstillingen.
      </p>
      <h2 class="header__under">Sjøboder og magasiner</h2>
      <p class="description__text">
        Tvedestrand var inn- og utskipningshavn for Næs Jernverk gjennom
        mesteparten av verkets historie. Verket hadde sjøboder, magasinbygninger
        og opplagsplasser ved bryggene, hvor matvarer, jernprodukter og malm ble
        mellomlagret. Matvarene - først og fremst korn, men også erter, sild,
        poteter og annet, ble fraktet videre til verket. Det samme gjaldt
        malmen. Jernet skulle ut i verden. Mye av det gikk til København og
        andre steder i Danmark, eller til byer og steder langs norskekysten. Noe
        ble sendt lenger ut i verden. I en periode var f.eks. Næs Verk med på
        eksporten av "Norway Iron" til Nord-Amerika. Verket var utvilsomt med på
        å skape liv og røre i Tvedestrand, og bidro til at stedet utviklet seg
        fra et lite strandsted til en by. Da Tvedestrand først fikk
        ladestedsrettigheter og siden bystatus, var stedets rolle som inn- og
        utskipningshavn for verket et moment som ble tillagt betydning. Verket
        var viktig for Tvedestrand og Tvedestrand var viktig for verket.
      </p>
      <h2 class="header__under">Forvaltergården</h2>
      <p class="description__text">
        Huset ble sto ferdig i 1774 og den første forvalteren som holdt til her
        het Knud Westlye. Vi tror at Ulrich Hetting, verkets forvalter, har
        tegnet Forvaltergården til sin kollega magasinforvalter Knut Westlye.
        Begge jobbet ved verket på 1770-tallet. "Bevarte detaljer i interiøret,
        viser oss med all tydelighet at vi har for oss et rikt dekorert
        rokokkohus" (Hans Olaf Aanensen). Bygningens størrelse og form er i stor
        grad som den var opprinnelig, men det er viktig å huske på at huset i
        utgangspunktet var godt synlig fra havneområdet og ikke var så innebygd
        som det siden ble. I 1880 ble deler av bygningen innredet som apotek og
        her holdt Tvedestrand apotek til i mer enn hundre år. Også en annen
        dominerende bygning i Tvedestrands havnebilde hørte opprinnelig til
        verket. Det gamle rådhuset på brygga var opprinnelig magasinbygning og
        ble bygd i 1852. Først i 1936 ble bygningen tatt i bruk som rådhus.
        Forvaltergården ble solgt til Tvedestrand kommune i 1992. I dag
        inneholder Forvaltergården det gamle apoteket, en krambod og en fast
        utstilling "Tvedestrand gjennom 1000 år". I tillegg lages det temporære
        utstillinger med ulike temaer. Forvaltergården har siden 2011 vært
        konsolidert med Næs Jernverksmuseum.
      </p>
      <a
        class="link__element"
        href="https://www.jernverksmuseet.no/"
        target="_blank">Les mer om Næs jernverk</a
      >
      <img class="city" src="/Tvedestrand.png" />
    </div>
  </div>
</Layout>

<style>
  .content__container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }

  .description__container {
    width: 50%;
    margin-left: 1.5rem;
  }
  h1.header__main {
    margin: 0;
    font-family: "Lora";
    font-size: 2rem;
    font-weight: 600;
  }

  h2.header__under {
    font-family: "Lora";
    font-size: 1.75rem;
    font-weight: 500;
  }
  p.headline__undertext {
    font-family: "Lora";
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
  }
  p.description__text {
    font-family: "Lora";
    font-size: 1rem;
    font-weight: 400;
  }
  .museum__img {
    width: 20rem;
    height: 20rem;
  }

  a.link__element {
    text-decoration: none;
    color: black;
    font-family: "Lora";
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
  }
  a.link__element:hover {
    text-decoration: underline;
  }

  img.city {
    margin: 1rem 0;
  }
</style>
