---
import { Image } from "astro:assets";
import ReactHtmlParser from "react-html-parser";
import Layout from "../layouts/Layout.astro";
import Wrapper from "../components/Wrapper.astro";
import fetchApi from "../libs/strapi";

let aboutContent;
try {
  aboutContent = await fetchApi("about");
  console.log(aboutContent);
} catch (e) {
  console.log(e);
}
---

<Layout page="about" title="hagen">
  <div class="content__container">
    <img class="portrait__img" src="/Linn.svg" />
    <div class="description__container">
      <!-- <div class="header__container"> -->
      <h1 class="header__main">{aboutContent.title}</h1>

      <!-- </div> -->

      <p
        style="white-space: pre-line"
        id="description"
        class="description__text"
      >
        {
          aboutContent ? aboutContent.description : null
        }<!-- {console.log(ReactHtmlParser(aboutContent))} -->
      </p>
      <img class="panorama__img" src="/Panorama.svg" />
      <div class="suppliers__container">
        <h1 class="suppliers__headline">Våre samarbeidspartnere</h1>
        <div class="logo__wrapper">
          {
            aboutContent.imgs.data
              ? aboutContent.imgs.data.map((img) => (
                  <img
                    class="logo__img"
                    src={`${import.meta.env.STRAPI_URL}${img.attributes.url}`}
                    alt=""
                  />
                ))
              : null
          }
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .content__container {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 4rem auto;
    min-height: 60vh;
  }

  div.header__container {
    display: flex;
    align-items: center;
  }

  img.portrait__img {
    width: 15rem;
  }
  div.description__container {
    width: 50%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }

  div.suppliers__container {
    width: 100%;
    height: auto;
    background-color: #f9f5f0;
    border-radius: 10px;
    padding: 0 1rem 1rem 1rem;
  }

  h1.suppliers__headline {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Lora";
    font-weight: 300;
  }

  h1.header__main {
    margin: 0;
    font-family: "Lora";
    font-size: 3rem;
    font-weight: 600;
  }

  p.description__text {
    margin: 2rem 0;
    font-family: "Lora";
    font-size: 1.25rem;
    font-weight: 400;
  }

  img.panorama__img {
    margin: 5rem 0;
  }
  img.magpie__img {
    width: 12.5rem;
  }

  div.logo__wrapper {
    width: 100%;
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img.logo__img {
    width: 5rem;
    margin: 0 0.5rem;
  }

  @media (max-width: 1100px) {
    .magpie__img {
      width: 12.5rem;
    }
    h1.header__main {
      font-size: 2rem;
    }
    p.description__text {
      font-size: 0.95rem;
    }

    img.portrait__img {
      width: 12.5rem;
    }

    img.panorama__img {
      margin: 2.5rem 0;
      width: 100%;
    }

    h1.suppliers__headline {
      font-size: 1.15rem;
    }
  }

  @media (max-width: 825px) {
    .content__container {
      flex-direction: column;
      align-items: center;
    }
    div.description__container {
      margin: 2rem 0 0 0;
      width: 75%;
    }
    h1.header__main {
      text-align: center;
    }
  }

  @media (max-width: 450px) {
    h1.suppliers__headline {
      font-size: 1rem;
    }
  }
</style>
<script>
  const body = document.body;
  const hamburger = document.getElementById("hamburger");
  const navMobile = document.getElementById("nav__container-mobile");

  hamburger.addEventListener("click", () => {
    hamburger.classList.toggle("openmenu");
    navMobile.classList.toggle("visible");
    body.classList.toggle("stop_scrolling");
  });

  // const description = document.getElementById("description");
  // console.log("DESC", description);
</script>
