---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let aboutContent;
try {
  aboutContent = await fetchApi("about");
} catch (e) {
  return Astro.redirect("/404");
}

console.log(aboutContent);
---

<Layout>
  <p>{aboutContent.title}</p>
  <p>{aboutContent.description}</p>
</Layout>
