---
import Layout from "../layouts/Layout.astro";

import fetchApi from "../libs/strapi";

let aboutContent;
try {
  aboutContent = await fetchApi("about");
} catch (e) {
  console.log(e);
}

console.log(aboutContent);
---

<Layout title="om oss">
  <p>{aboutContent.title}</p>
  <p>{aboutContent.description}</p>
</Layout>
