---
import "../styles/fonts.css";
import "../styles/variables.css";
const date = new Date();
const year = date.getFullYear();
const { page } = Astro.props;
---

<footer class="footer">
  {
    page === "meny" ? (
      <div class="img__container">
        <img class="drinks__img" src="./Drinks.svg" />
      </div>
    ) : page === "home" ? (
      <div class="img__container">
        <img class="chamomile__img" src="./chamomile.svg" />
      </div>
    ) : page === "about" ? (
      <div class="img__container">
        <img class="Starflower__img" src="./Starflower2.svg" />
      </div>
    ) : null
  }
  <div class="footer__main">
    <div class="development__container">
      <p class="development__paragraph">Design og utvikling:</p>
      <img class="logoDev__mini" src="/DIS.svg" />
    </div>
    <div class="links__container">
      <div class="socialMedia__container">
        <a class="link__item"></a>
        <a class="link__item"> </a>
      </div>
      <div class="name__container">
        <img class="logo__mini" src="/logoMini.svg" />
        <p class="name__paragraph">
          Museumshaven, <span class="name__year">{year}</span>
        </p>
      </div>
    </div>
  </div>
</footer>
<style>
  footer.footer {
    position: absolute;
    width: 100vw;
    z-index: 1;
  }
  .footer__main {
    height: 7.5vh;
    background-color: var(--green_main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4.65rem;
  }

  div.img__container {
    display: flex;
    justify-content: center;
  }
  img {
    margin: auto 1rem;
  }
  img.drinks__img {
    position: relative;
    top: 1px;
    z-index: -1;
  }

  img.chamomile__img {
    position: absolute;
    top: -175px;
    rigth: 450px;
    z-index: -1;
  }

  img.Starflower__img {
    position: absolute;
    top: -150px;
    rigth: 450px;
    z-index: -1;
  }
  .development__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .development__paragraph {
    color: white;
    font-family: "Inter";
    font-weight: 300;
    font-size: 0.85rem;
  }

  .name__container {
    display: flex;
    align-items: center;
  }

  .links__container {
    display: flex;
  }

  .logo__mini {
    width: 1rem;
  }
  .name__paragraph {
    color: white;
    font-family: "Inter";
    font-weight: 400;
    font-size: 0.85rem;
  }

  p.name__paragraph span.name__year {
    font-weight: 100;
    color: white;
    font-family: "Inter";
    font-size: 0.85rem;
  }

  @media (min-width: 1385px) {
    img.chamomile__img {
      position: absolute;
      top: -175px;
      right: 250px;
      z-index: -1;
    }

    img.Starflower__img {
      position: absolute;
      top: -150px;
      right: 250px;
      z-index: -1;
    }
  }

  @media (max-width: 825px) {
    .footer__main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      padding: 1rem;
    }

    img.drinks__img {
      width: 17.5rem;
    }

    img.chamomile__img {
      position: absolute;
      top: -125px;
      right: 50px;
      z-index: -1;
      width: 5rem;
    }

    img.Starflower__img {
      position: absolute;
      top: -115px;
      right: 50px;
      z-index: -1;
      width: 5rem;
    }
    .logoDev__mini {
      margin: 0 0 0 1rem;
    }

    .logo__mini {
      margin: 0 1rem 0 0;
    }
  }
</style>
