---
import "../styles/variables.css";
---

<div class="hamburger__container">
  <span class="line__element"></span>
  <span class="line__element"></span>
  <span class="line__element"></span>
</div>

<style>
  span.line__element {
    width: 2rem;
    height: 0.25rem;
    background-color: black;
  }

 
</style>
