<div>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/meny">meny</a></li>
    <li><a href="/hagen">hagen</a></li>
    <li><a href="/kjokennet">kjokennet</a></li>
    <li><a href="/blogg">blogg</a></li>
    <li><a href="/omoss">om oss</a></li>
    <li><a href="/kontakt">kontaktsjema</a></li>
  </ul>
</div>

<style>
  ul {
    display: flex;
    list-style-type: none;
  }
  li {
    margin-right: 0.25rem;
  }
</style>
