---
import { ViewTransitions } from 'astro:transitions';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;

let metaTitle = "";
if (title) metaTitle = `${title} - `;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{metaTitle}Museumhaven</title>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />

    <!-- SEO -->
    <meta name="description" content="" />
    <meta property="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="twitter:title" content="" />
    <meta property="twitter:description" content="" />
    <meta property="twitter:image" content="" />
    <meta property="twitter:card" content="s" />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
